---
import googleIcon from "../assets/google.svg";
---

<button
  type="submit"
  class="w-full flex items-center justify-center gap-4 hover:opacity-75 cursor-pointer text-black bg-transparent border hover:bg-gray700 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded text-sm px-5 py-2.5 text-center dark:bg-gray600 dark:hover:bg-gray700 dark:focus:ring-gray-800"
>
  <img src={googleIcon.src} class="w-5" alt="Astro Homepage" />
  Login with Google
</button>
