<div
  id="error-message"
  class="py-1 mb-4 text-sm hidden text-red-800 rounded bg-red-50 border border-red-300 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
>
  <div class="flex items-center">
    <svg
      class="flex-shrink-0 inline w-4 h-4 mr-3"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      viewBox="0 0 20 20"
    >
    </svg>
    <span id="error-text"></span>
  </div>
</div>
